<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acoesmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AcoesMobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.acao.VerAcao"></activity>
        <activity android:name=".view.usuario.VerUsuario" />
        <activity android:name=".view.acao.ListaAcao" />
        <activity android:name=".view.usuario.ListaUsuario" />
        <activity android:name=".view.transacao.ListaTransacao" />
        <activity android:name=".view.transacao.CriaTransacao" />
        <activity android:name=".view.transacao.EditaTransacao" />
        <activity android:name=".view.transacao.VerTransacao" />
        <activity android:name=".view.Menu" />
        <activity android:name=".view.acao.EditaAcao" />
        <activity android:name=".view.acao.CriaAcao" />
        <activity android:name=".view.usuario.EditaUsuario" />
        <activity android:name=".view.usuario.CriaUsuario" />
        <activity android:name=".view.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>